.vertical-space {
    margin-bottom: 75px;
    margin-top: 75px;
    --inner-border-width: 0px;
}

.center {
    width: 100%;
    text-align: center;
}

ion-content.background{
    --background: url(../../assets/img/Armstrong.jpg) 0 0/100% 100% no-repeat;
}

.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: red;
}

.vertical-list {
    margin-top: 120px;    
}